<div class="md-content" flex md-scroll-y>


  <div layout="column" layout-align="start stretch">


    <md-toolbar class="top-toolbar">

      <md-toolbar-row></md-toolbar-row>

      <div class="toolbar-header-text-container">
        <div class="md-display-1 tc-grey-50">Dish Add</div>
        <div class="md-subhead tc-grey-50">Bacon ipsum dolor amet salami jerky sirloin, picanha short ribs pork chop
          leberkas pig shankle.
        </div>


      </div>
      <md-toolbar-row></md-toolbar-row>
    </md-toolbar>


    <div flex class="bottom-div">
      <div layout="row">

        <div flex="25">

          <div layout="column" layout-align="start stretch" class="help-panel">
            <h3>
              <md-icon>format_align_left</md-icon>
              Help
            </h3>
            <p>An overview of basic form styles and elements.</p>

            <md-list>
              <md-list-item> Action 1</md-list-item>
              <md-divider></md-divider>

            </md-list>


          </div>


        </div>

        <div flex="75">
          <md-card>


            <md-card-title>Add a New Dish</md-card-title>
            <md-card-subtitle>Bacon ipsum dolor amet salami jerky sirloin, picanha short ribs pork chop leberkas pig
              shankle.
            </md-card-subtitle>
            <md-divider></md-divider>

            <md-card-content>


              <form [formGroup]="addMenuItem" novalidate (ngSubmit)="save(addMenuItem.value, addMenuItem.valid)">

                <div layout="row" layout-margin>
                  <md-input-container flex>
                    <input mdInput flex placeholder="Item Name" type="text" maxlength="100" name="menu_item_name"
                           formControlName="menu_item_name"/>


                    <md-hint align="start">
                      <span
                        *ngIf="addMenuItem.get('menu_item_name').touched && addMenuItem.get('menu_item_name').hasError('required')"
                        class="tc-red-600">Item Name is required</span>

                      <span
                        *ngIf="addMenuItem.get('menu_item_name').touched && addMenuItem.get('menu_item_name').hasError('minlength')"
                        class="tc-red-600">Minimum of 5 characters</span>

                    </md-hint>

                  </md-input-container>


                </div>


                <div layout="row" layout-margin>
                  <md-input-container flex>

                    <input mdInput flex placeholder="Menu Item Description" type="text" maxlength="100"
                           name="menu_item_description"
                           formControlName="menu_item_description"/>


                    <md-hint align="start">
                      <span
                        *ngIf="addMenuItem.get('menu_item_description').touched && addMenuItem.get('menu_item_description').hasError('required')"
                        class="tc-red-600">Menu Item Description is required</span>

                      <span
                        *ngIf="addMenuItem.get('menu_item_description').touched && addMenuItem.get('menu_item_description').hasError('minlength')"
                        class="tc-red-600">Minimum of 10 characters</span>

                    </md-hint>

                  </md-input-container>


                </div>


                <div layout="row" layout-margin>
                  <md-input-container flex>

                    <input mdInput flex placeholder="Menu Item Price" type="number" maxlength="100"
                           name="menu_item_price"
                           formControlName="menu_item_price"/>


                    <md-hint align="start">
                      <span
                        *ngIf="addMenuItem.get('menu_item_price').touched && addMenuItem.get('menu_item_price').hasError('required')"
                        class="tc-red-600">Menu Item Price is required</span>


                    </md-hint>

                  </md-input-container>


                </div>


                <div layout="column" layout-margin>

                  <h3 class="md-subhead">Noto is the standard typeface for all languages on Chrome and Android for all
                    languages not covered by Roboto.</h3>

                  <md-slide-toggle type="checkbox" color="accent" name="enabled"
                                   formControlName="enabled">
                    Item Status
                  </md-slide-toggle>

                </div>


                <div layout="row" layout-margin>

                  <h3 class="md-subhead">Noto is the standard typeface for all languages on Chrome and Android for all
                    languages not covered by Roboto.</h3>

                </div>


                <div layout="row" layout-align="space-between center" layout-margin>

                  <md-slide-toggle type="checkbox" color="accent" name="special"
                                   formControlName="special" layout-margin>
                    Special
                  </md-slide-toggle>


                  <md-slide-toggle type="checkbox" color="accent" name="vegetarian"
                                   formControlName="vegetarian" layout-margin>
                    Vegetarian
                  </md-slide-toggle>


                  <md-slide-toggle type="checkbox" color="accent" name="vegan"
                                   formControlName="vegan" layout-margin>
                    Vegan
                  </md-slide-toggle>


                  <md-slide-toggle type="checkbox" color="accent" name="kosher"
                                   formControlName="kosher" layout-margin>
                    Kosher
                  </md-slide-toggle>


                  <md-slide-toggle type="checkbox" color="accent" name="halal"
                                   formControlName="halal" layout-margin>
                    Halal
                  </md-slide-toggle>


                  <md-slide-toggle type="checkbox" color="accent" name="gluten_free"
                                   formControlName="gluten_free" layout-margin>
                    Gluten Free
                  </md-slide-toggle>

                </div>


                <div layout="row" layout-margin>

                  <h3 class="md-subhead">Noto is the standard typeface for all languages on Chrome and Android for all
                    languages not covered by Roboto.</h3>

                </div>

                <div layout="row" layout-margin>

                  <md-slider min="1" max="5" thumbLabel tickInterval="1"
                             formControlName="menu_item_heat_index"></md-slider>

                </div>


                <div layout="row" layout-margin>
                  <md-input-container flex>

                    <input mdInput flex placeholder="Menu Item Calories" type="number" maxlength="100"
                           name="menu_item_calories"
                           formControlName="menu_item_calories"/>


                  </md-input-container>


                </div>


              </form>


            </md-card-content>

            <md-divider></md-divider>

            <md-card-actions>

              <button md-raised-button type="submit" color="primary"
                      (click)="save(addMenuItem.value, addMenuItem.valid)"
                      [disabled]="!addMenuItem.valid">
                SAVE MENU
              </button>


              <button md-button (click)="addMenuItem.reset()">RESET</button>

              <button md-button (click)="goback()">BACK</button>


            </md-card-actions>

          </md-card>


        </div>

      </div>

    </div>

  </div>


</div>


