.content-menu-group-detailed-children {

  margin-right: 20px;
}

.help-panel-menu-group-detailed-children {
  margin-top: 5px;
  margin-left: 40px;
  margin-right: 5px

}

.action-button {
  padding: 30px;
}




