<div class="md-content" flex md-scroll-y>


  <div layout="column" layout-align="start stretch">

    <md-toolbar class="top-toolbar">

      <md-toolbar-row></md-toolbar-row>




      <div layout="row"  layout-align="space-between center" flex>

        <div class="toolbar-header-text-container">
          <div class="md-display-1 tc-grey-50">Menu Detail</div>
          <div class="md-subhead tc-grey-50">Bacon ipsum dolor amet salami jerky sirloin, picanha short ribs pork chop leberkas pig shankle.</div>
        </div>
        <div >
          <button md-raised-button color="warn" (click)="deleteMenu()">DELETE MENU</button>
        </div>
      </div>

      <md-toolbar-row></md-toolbar-row>
    </md-toolbar>




    <div flex class="bottom-div">
      <div layout="row">

        <div flex="25">

          <div layout="column" layout-align="start stretch" class="help-panel">
            <h3>
              <md-icon>format_align_left</md-icon>
              Help
            </h3>
            <p>An overview of basic form styles and elements.</p>

            <md-list>
              <md-list-item> Action 1</md-list-item>
              <md-divider></md-divider>

            </md-list>


          </div>


        </div>

        <div flex="75">


          <div class="md-content" flex>


            <md-card >


              <md-card-title>Edit Menu Details</md-card-title>
              <md-card-subtitle>Bacon ipsum dolor amet salami jerky sirloin, picanha short ribs pork chop leberkas pig shankle.</md-card-subtitle>
              <md-divider></md-divider>

              <td-expansion-panel label="Menu Name Text" sublabel="Menu Description Text"
                                  (expanded)="expandedEvent()" (collapsed)="collapsedEvent()">

                <md-card-content>


                  <form [formGroup]="editMenuForm" novalidate (ngSubmit)="save(editMenuForm.value, editMenuForm.valid)">

                    <div layout="row" layout-margin>
                      <md-input-container flex>
                        <input mdInput flex placeholder="Menu Name" type="text" maxlength="30" name="menu_name"
                               formControlName="menu_name"/>


                        <md-hint align="start">
                      <span
                        *ngIf="editMenuForm.get('menu_name').touched && editMenuForm.get('menu_name').hasError('required')"
                        class="tc-red-600">Name is required</span>

                          <span
                            *ngIf="editMenuForm.get('menu_name').touched && editMenuForm.get('menu_name').hasError('minlength')"
                            class="tc-red-600">Minimum of 5 characters</span>

                        </md-hint>

                      </md-input-container>


                    </div>


                    <div layout="row" layout-margin>
                      <md-input-container flex>

                        <input mdInput flex placeholder="Menu Description" type="text" maxlength="30"
                               name="menu_description"
                               formControlName="menu_description"/>


                        <md-hint align="start">
                      <span
                        *ngIf="editMenuForm.get('menu_description').touched && editMenuForm.get('menu_description').hasError('required')"
                        class="tc-red-600">Name is required</span>

                          <span
                            *ngIf="editMenuForm.get('menu_description').touched && editMenuForm.get('menu_description').hasError('minlength')"
                            class="tc-red-600">Minimum of 10 characters</span>

                        </md-hint>

                      </md-input-container>


                    </div>


                    <div layout="row" layout-margin>
                      <md-input-container flex>
                        <input mdInput flex placeholder="Menu Note" type="text" maxlength="30" name="menu_note"
                               formControlName="menu_note"/>


                        <md-hint align="start">
                      <span
                        *ngIf="editMenuForm.get('menu_note').touched && editMenuForm.get('menu_note').hasError('required')"
                        class="tc-red-600">Name is required</span>

                          <span
                            *ngIf="editMenuForm.get('menu_note').touched && editMenuForm.get('menu_note').hasError('minlength')"
                            class="tc-red-600">Minimum of 10 characters</span>

                        </md-hint>

                      </md-input-container>


                    </div>

                    <div layout="row" layout-margin>

                      <md-slide-toggle type="checkbox" color="accent" name="enabled"
                                       formControlName="enabled" layout-margin>
                        Menu Status
                      </md-slide-toggle>

                    </div>
                  </form>


                </md-card-content>

                <md-divider></md-divider>

                <md-card-actions>

                  <button md-raised-button type="submit" color="primary"
                          (click)="save(editMenuForm.value, editMenuForm.valid)"
                          [disabled]="!editMenuForm.valid">
                    UPDATE MENU
                  </button>



                </md-card-actions>
              </td-expansion-panel>


            </md-card>

            <md-card>
              <md-card-title>List of Menu Groups for Menu</md-card-title>
              <md-card-subtitle>Bacon ipsum dolor amet salami jerky sirloin, picanha short ribs pork chop leberkas pig shankle.</md-card-subtitle>
              <md-divider></md-divider>
              <md-card-content>


                <table td-data-table>


                  <th td-data-table-column
                      *ngFor="let column of columns"
                      [numeric]="column.numeric">
                    {{column.label}}
                  </th>

                  <th td-data-table-column>
                    <md-icon>edit</md-icon>
                    <span>View </span>
                  </th>

                  <tr td-data-table-row *ngFor="let menuGroup of menuGroup">


                    <td td-data-table-cell>
                      {{menuGroup.menu_group_name}}
                    </td>

                    <td td-data-table-cell (click)="openPrompt(menuGroup.id)">
                      <button md-button [class.md-accent]>{{'View  Menu Group'}}</button>
                    </td>

                  </tr>
                </table>


              </md-card-content>
              <md-divider></md-divider>

              <md-card-actions>

                <button md-raised-button color="primary" (click)="addMenuGroupToMenuRouter()">Add Menu Group</button>
                <!--<button md-button>Cancel</button>-->

                <button md-button (click)="goback()">BACK</button>

              </md-card-actions>



            </md-card>




          </div>

        </div>

      </div>

    </div>

  </div>


</div>


