<div class="md-content" flex md-scroll-y>


  <div layout="column" layout-align="start stretch">

    <md-toolbar class="top-toolbar">

      <md-toolbar-row></md-toolbar-row>

      <div class="toolbar-header-text-container">
        <div class="md-display-1 tc-grey-50">Basic Profile management</div>
        <div class="md-subhead tc-grey-50">Bacon ipsum dolor amet salami jerky sirloin, picanha short ribs pork chop leberkas pig shankles</div>

      </div>
      <md-toolbar-row></md-toolbar-row>
    </md-toolbar>


    <div flex class="bottom-div">
      <div layout="row">

        <div flex="25">

          <div layout="column" layout-align="start stretch" class="help-panel">
            <h3>
              <md-icon>format_align_left</md-icon>
              Help
            </h3>
            <p>An overview of basic form styles and elements.</p>

            <md-list>
              <md-list-item> Action 1</md-list-item>
              <md-divider></md-divider>

            </md-list>


          </div>


        </div>

        <div flex="75">
          <md-card>
            <md-card-title>Restaurant Profile</md-card-title>
            <md-card-subtitle>Bacon ipsum dolor amet salami jerky sirloin, picanha short ribs pork chop leberkas pig
              shankle.
            </md-card-subtitle>
            <md-divider></md-divider>
            <md-card-content>


            </md-card-content>


          </md-card>


        </div>

      </div>

    </div>

  </div>


</div>
